name: Documentation

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: volta-cli/action@v1

      - run: echo "::set-env name=ADDON_DOCS_VERSION_PATH::${GITHUB_REF##*/}"
      - if: contains(github.ref , 'master') != true
        run: echo "::set-env name=ADDON_DOCS_UPDATE_LATEST::true"
      - run: yarn install
      - env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        run: yarn deploy
